@import "reset";
@import "typography";


$primary-color: black;
$white-color: #fff;
$grey-color: #999999;
$orange-color: #fc3e17;
$darkgrey-color: #575757;

$body-font: "#";
$title-font: "#";
$body-size: 16px;
$link-size: 13px;
$uppercase: uppercase;

$mq-xlarge: 1000px;
$mq-large: 800px;
$mq-medium: 600px;
$mq-small: 500px;


@mixin mq($width) {
    @media (max-width: $width) {
        @content;
    }
}

@keyframes fadeup {
    0% {transform: translateY(14px) rotate(12deg); opacity: 0;}
    100% {transform: translateY(0px) rotate(0deg); opacity: 1;}
  }


/* ======== NAVIGATION ======== */

div.collapse.navbar-collapse.active {
    transition: all 0.4s ease;
    display: block;
}




  div.row {
      background-color: blue;
  }