@import "reset";
@import "typography";


$primary-color: black;
$white-color: #fff;
$grey-color: #656565;
$grey-link: #2e2e2e;
$lightgrey-link: #d3d3d3;
$border-grey: #e6e6e6;
$blue-color: #dbecf2;

$body-font: "Campton Light";
$title-font: "Campton Bold";

$h1-size: 48px;
$h1-mobile: 38px;

$h2-size: 32px;
$h2-mobile: 26px;

$h3-size: 24px;

$large-copy: 18px;
$body-size: 16px;
$link-size: 14px;
$button-size: 12px;


$mq-xlarge: 1000px;
$mq-large: 800px;
$mq-medium: 600px;
$mq-small: 500px;


// @mixin mq($width) {
//     @media (max-width: $width) {
//         @content;
//     }
// }




/* ======== ANIMATIONS ======== */
@keyframes fadein {
    0% {transform: translateY(36px); opacity: 0;}
    100% {transform: translateY(0px); opacity: 1;}
  }




  /* ======== GENERIC STYLING ======== */


body {
    font-family: $body-font;
    line-height: 1.3;
    color: $primary-color;
}

h1 {
    will-change: transform;
    will-change: opacity; 
    font-family: $title-font;
}

h2 {
    font-size: $h2-size;
    font-family: $title-font;
    text-align: center;
    text-transform: uppercase;
    will-change: transform;
    will-change: opacity; 
}

h3 {
    font-size: $h3-size;
    font-family: $title-font;
    text-transform: uppercase;
    will-change: transform;
    will-change: opacity; 
}

h4 {
    font-family: $title-font;
    will-change: transform;
    will-change: opacity; 
}

h5 {
    font-family: $title-font;
}

h6 {
    font-family: $title-font;
    color: $primary-color;
    font-size: 22px;
}

p {
    will-change: transform;
    will-change: opacity; 
}

img {
    will-change: transform;
    will-change: opacity; 
}

a {
    will-change: transform;
    will-change: opacity; 
    will-change: color; 
}

a.external-link {
    text-decoration: underline;
    color: $primary-color;
    font-weight: 600;
}

span.title-serif {
    @include athelas_font(700);
}

video {
    vertical-align: bottom;
}

video.block-level--video {
    width: 100%;
    padding: 0 40px;
}

span.dash-top {
    display: block;
    will-change: transform;
    will-change: opacity; 
    @include athelas_font(700);
}

span.dash-bottom {
    display: block;
    will-change: transform;
    will-change: opacity; 
    @include athelas_font(700);
}

a.inline-link {
    color: $primary-color;
    font-family: $title-font;
    text-decoration: underline;
}

a:hover {
    color: $lightgrey-link;
}


/* helpers */
.mt-lg {
    margin-top: 120px;
}

.mt-md {
    margin-top: 30px;
}

.mb-lg {
    margin-bottom: 120px;
}

.mb-l {
    margin-bottom: 80px;
}

.mb-md {
    margin-bottom: 30px;
}

.mb-sm {
    margin-bottom: 10px;
}






/* ======== BUTTONS ======== */

.btn-primary {
    background-color: $primary-color;
    color: $white-color;
    border: none; 
    font-size: $button-size;
    padding: 14px 18px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $grey-link;
    }
}

.btn-secondary {
    background-color: $white-color;
    color: $primary-color;
    border: none; 
    font-size: $button-size;
    padding: 14px 18px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $lightgrey-link;
        color: $primary-color;
    }
}





/* ======== NAVIGATION ======== */


nav.navbar {
    padding: 12px 40px;
    transition: all 0.4s ease;
    font-family: 'Helvetica', sans-serif;
}

nav.navbar.scrolled {
    background-color: $white-color;
    border-bottom: 1px solid $border-grey;
    padding: 6px 40px;
}


div.collapse.navbar-collapse.active {
    transition: all 0.4s ease;
    display: block;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-light .navbar-nav .nav-link {
    text-transform: uppercase;
    font-size: $link-size;
    color: $primary-color;
}

ul.navbar-nav {
    margin-right: 20px;
}

.main-logo {
    height: 72px;
    transition: height 0.3s ease;
}

.main-logo.scrolled {
    height: 62px;
}

li.nav-item {
    margin: 0 8px;
}


.navbar-light .navbar-toggler {
    border: none;

}

button:focus {
    outline: none;
}

.carousel-control-prev {
    filter: invert(100%);
    opacity: 1;
}

.carousel-control-next {
    filter: invert(100%);
    opacity: 1;
}





/* ======== HERO ======== */

section.hero {
    height: 100vh;
    // width:100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    img.scroll-icon {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
    }
}

div.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -4;
    pointer-events: none;
    overflow: hidden;

    iframe {
        width: 100vw;
        height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
        min-height: 100vh;
        min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

div.video-container.home {
    background-image: url("img/video-poster-image.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section.hero div.hero-title  {


    h1 {
        font-size: $h1-size;
        color: $white-color;
        text-align: center;
        text-transform: uppercase;
        max-width: 460px;
    }

    p {
        @include athelas_font(700);
        color: $white-color;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
}



/* ======== Title section ======== */

section.statement-title {
    height: 100%;
    width: 100vw;
    background-color: $white-color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 160px 40px;
    flex-direction: column;

    @media (max-width: 768px) {
        padding: 100px 40px;
    }

    span.dash-top {
        font-size: $h2-size;
        margin-bottom: 70px;
    }

    span.dash-bottom {
        font-size: $h2-size;
        margin-top: 70px;
    }

    h2 {
        font-size: $h2-size;
        text-align: center;
        text-transform: uppercase; 
        max-width: 500px;
    }

}


/* ======== Content section ======== */

section.content-block {
    position: relative;


    @media (max-width: 768px) {
        padding-bottom: 100px;
    }

    div.container-fluid {
        padding: 0 40px;
    }

    img {
        margin: 60px 0;
    }

    span.dash-top {
        font-size: $h2-size;
    }

    span.dash-bottom {
        font-size: $h2-size;
    }
}

section.content-block div.row {
    align-items: center;
    text-align: center;
}

div.background-color {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    background-color: $blue-color;
    height: 100%;

    @media (max-width: 768px) {
        width: 100%;
    }

}

div.col-md {

    p {
        margin: 30px 0;
    }


    div {
        max-width: 370px;
        margin: auto;
    }

}





section.content-block--alt {
    margin-top: 120px;
    position: relative;

    @media (max-width: 768px) {
        padding-bottom: 100px;
        margin-top: -5px;
    }

    div.container-fluid {
        padding: 0 40px;

        div.order-first {

            @media (max-width: 768px) {
                order: 1;
            }
        }

    }

    img {
        margin: 60px 0;
    }

    span.dash-top {
        font-size: $h2-size;
    }

    span.dash-bottom {
        font-size: $h2-size;
    }
}

section.content-block--alt div.row {
    align-items: center;
    text-align: center;
    color: $white-color;
}

div.background-color--alt {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    background-color: $primary-color;
    height: 100%;

    @media (max-width: 768px) {
        width: 100%;
    }
}

div.col-md {

    p {
        margin: 30px 0;
    }


    div {
        max-width: 370px;
        margin: auto;
    }

}



/* ======== FEATURES ======== */

section.features  {

    padding: 120px 20px;

    div.row {

        div.flex {
            display: flex;
            align-items: flex-start;
            padding: 20px 16px;

            @media (max-width: 768px) {
                padding: 20px 6px;
                align-items: flex-start;
            }

            img {
                margin-right: 16px;
            }
        }

    }

}

/* ======== CREATE ANY LAYOUT ======== */

section.create-layout {
    position: relative;


    video.block-level--video {

        @media (max-width: 768px) {
            padding: 0;
        }

    }


    h2 {
        position: absolute;
        bottom: 40px;
        right: 40px;
        z-index: 2;
        padding-right: 40px;

        @media (max-width: 600px) {
            right: 10px;
        }

    }
}




/* ======== Homepage Additonal ======== */

section.additional {

    padding-bottom: 200px;

    img {
        margin-bottom: 30px;
    }

    h3, p {
        margin-bottom: 26px;
    }

    div.container-fluid {
        padding: 0 40px;

        @media (max-width: 768px) {
            padding: 0 20px;
        }

        div.row div:nth-child(2) {

            @media (max-width: 768px) {
                margin-top: 60px;
            }

        }
    }


}

main {
    // margin-bottom: 200px;
    background-color: $white-color;
    overflow: hidden;
}

section.international-map {

    padding: 40px;

    @media (max-width: 600px) {
        padding: 20px;
    }

    div.map-title {
        padding-bottom: 100px;
        text-align: center;
        max-width: 380px;
        margin: auto;

        @media (max-width: 600px) {
            padding-bottom: 80px;
        }

        span {
            font-size: 32px;
        }
    }
}

section.layout-slider {

    h5 {
        color: $primary-color;
    }

}


footer {
    // position: fixed;
    // bottom: 0;
    // left: 0;
    height: 200px;
    width: 100%;
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    // z-index: -102;

    img.up {
        width: 30px;
        cursor: pointer;
    }
}



/* ======== ABOUT PAGE ======== */

// section.statement-title.alt {
//     padding-top: 32px;
// }




section.history {
    padding: 140px 10px;
    text-align: center;

    @media (max-width: 768px) {
        padding: 100px 10px;
    }

    span.dash-top {
        font-size: 32px;
    }

    h2 {
        max-width: 400px;
        margin:auto;
    }

    div.copy p:nth-child(1) {
        margin: 60px 0 24px 0;
    }

}

section.quote-block {
    min-height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 28px;

    div.col p:nth-child(1) {
        margin-bottom: 28px;
    }

    @media (max-width: 600px) {
        font-size: 22px;
     }
}



/* ======== LOCATION ======== */

section.location {
    text-align: center;
    margin-bottom: 80px;

    div.container {
        margin-bottom: 40px;
    }

    span.dash-top {
        font-size: 32px;
    }

    div.block-level--video.fullwidth {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
    }

    .block-level--video.fullwidth iframe,
    .block-level--video.fullwidth object,
    .block-level--video.fullwidth embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }


}



/* ======== CONTACT PAGE ======== */

section.contact {
    padding: 200px 0 100px 0;
    background-color: $blue-color;

    div.container-fluid {
        padding: 0 40px;

        div.row div.col:nth-child(2) {
            margin-bottom: 20px;
        }

        div.col {
            padding-right: 10px;
            padding-left: 10px;

            .form-control {
                height: calc(1.5em + 1.5rem + 2px);
            }

            textarea.form-control {
                height: 80px;
                padding-top: 12px;
            }

            button {
                height: 50px;
            }
        }

        button {
            margin-top: 20px;
        }
    }

    h2 {
        text-align: left;
        margin-bottom: 20px;
    }

    p {
        max-width: 370px;
    }

}

section.contact-info {
    background-color: $primary-color;
    color: $white-color;
    padding: 70px 20px;

    div.row {

        div.flex {
            display: flex;
            // align-items: center;
            padding: 20px 16px;

            img {
                margin-right: 16px;
                height: 20px;
            }
        }

        a {
            text-decoration: none;
            color: $white-color;
            border-bottom: 2px solid transparent;
            transition: border-bottom 0.3s ease;

            &:hover {
                border-bottom: 2px solid $white-color;
            }

        }

    }

    h4 {
        margin-bottom: 8px;
    }
}

section.partner-logos {
    padding: 160px 0;

    h2.partner-title {
        margin-bottom: 100px;

        @media (max-width: 700px) {
            margin-bottom: 80px;
         }
    }

}

div.col-5th {
    width: 33.33%;
    text-align: center;
   
    img {
        transform: scale(0.5);
    }

    p {
        text-align: center;
        margin-top: -20px;

        @media (max-width: 700px) {
            margin-top: -30px;
        }
    }

     @media (max-width: 580px) {
        margin: auto;
        width: 40%;
     }

}





/* ======== THE BUILDING ======== */


section.statement-title.alt {

    h2 {
        max-width: 440px;
    }
}

section.hero.alt {

    text-align: center;
    color: $white-color;

    span.dash-top, span.dash-bottom {
        font-size: 32px;
    }

}

section.diagram {
    padding: 0 40px;
    margin-bottom: 160px;

    @media (max-width: 600px) {
        padding: 0px;
    }

    div.col-12.col-md-4.flex {
        padding: 20px;
        display: flex;
        align-items: start;

        img {
            margin-right: 16px;
        }
    }


    div.row.diagram-info {
        background-color: #fff;
        padding: 40px;

        @media (max-width: 600px) {
            padding: 20px;

            margin: 0;
        }

    }


    div.features-wrap {

        p {
            color: $grey-color;
        }

        h4 {
            margin-bottom: 6px;
        }
    }
}



section.features.building {
    background-color: $primary-color;
    color: $white-color;

    div.title-wrap{
        text-align: center;
        margin: 0 auto 100px auto;

        h2 {
            max-width: 300px;
        }
    }

}


/* ==== slider ==== */


section.layout-slider {
    margin-bottom: 160px;

    div.row {

        div.flex {
            display: flex;
            align-items: center;
            padding: 20px 16px;
    
            img {
                margin-right: 16px;
            }
        }
    
    }


}

div.slider-title {
   text-align: center; 
   padding: 80px 0;

   h2 {
    max-width: 260px;
    margin: auto;
   }

   span {
       font-size: 32px;
   }
}


section.video-color--bg {

    .fullwidth {
        @media (max-width: 600px) {
           padding: 0;
        }
    }

    div.video-container--flex {
        position: relative;
        
        div.title-wrap {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: $white-color;

            span {
                font-size: 32px;

                @media (max-width: 600px) {
                    font-size: $large-copy;
                }
            }

            h2 {
                max-width: 560px;

                @media (max-width: 600px) {
                    font-size: $body-size;
                }
            }
        }

    }

    div.info-card {
        background-color: $white-color;
        display: flex;
        transform: translateY(-50px);
        width: 80%;
        margin: auto;
        padding: 60px;

        @media (max-width: 600px) {
            transform: translateY(-30px);
            padding: 30px;
        }

        h3 {
            margin-bottom: 20px;
        }


        div {
            width: 50%;

            @media (max-width: 600px) {
                width: 100%;
            }
        }

        @media (max-width: 600px) {
            display: block;
            width: 90%;

        }
    }

    div.block-level--video.fullwidth {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
    }

    .block-level--video.fullwidth iframe,
    .block-level--video.fullwidth object,
    .block-level--video.fullwidth embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }



}

.mt-lg {

    @media (max-width: 768px) {
        margin-top: 0;
    
    }

}

.mb-lg {

    @media (max-width: 768px) {
        margin-bottom: 0;
    
    }

}


@media (max-width: 768px) {

    section.hero div.hero-title h1 {
        font-size: $h1-mobile;
    }
    
    h2 {
        font-size: $h2-mobile;
    }

}


