


@mixin athelas_font($weight) {
    font-family: "athelas", serif;
    font-weight: $weight;
    font-style: italic;
}

@font-face {
    font-family: Campton Light;
    src: url(/fonts/campton-light.woff2), url(fonts/campton-light.woff);
}

@font-face {
    font-family: Campton Bold;
    src: url(/fonts/campton-bold.woff2), url(fonts/campton-bold.woff);
}