html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img, iframe {
  vertical-align: bottom;
  max-width: 100%; }

input, textarea, select {
  font: inherit; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: "Maison Mono";
  src: url(fonts/MaisonMono-Regular.woff); }

@font-face {
  font-family: Trade Gothic;
  src: url(fonts/TradeGothic-Bold.woff); }

/* ======== ANIMATIONS ======== */
@keyframes fadein {
  0% {
    transform: translateY(40px);
    opacity: 0; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }

/* ======== GENERIC STYLING ======== */
body {
  font-family: "Helvetica";
  line-height: 1.3;
  color: black; }

h2 {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase; }

h3 {
  font-size: 24px;
  text-transform: uppercase; }

span.title-serif {
  font-family: "Georgia";
  font-style: italic; }

video.block-level--video {
  width: 100%;
  padding: 0 40px; }

span.dash-top {
  display: block; }

span.dash-bottom {
  display: block; }

/* ======== BUTTONS ======== */
.btn-primary {
  background-color: black;
  color: #fff;
  border: none;
  font-size: 12px;
  padding: 14px 18px;
  text-transform: uppercase;
  transition: background-color 0.3s ease; }
  .btn-primary:hover {
    background-color: #2e2e2e; }

.btn-secondary {
  background-color: #fff;
  color: black;
  border: none;
  font-size: 12px;
  padding: 14px 18px;
  text-transform: uppercase;
  transition: background-color 0.3s ease; }
  .btn-secondary:hover {
    background-color: #d3d3d3;
    color: black; }

/* ======== NAVIGATION ======== */
nav.navbar {
  background-color: #fff;
  padding: 12px 40px;
  transition: padding 0.4s ease; }

nav.navbar.scrolled {
  padding: 0px 40px; }

div.collapse.navbar-collapse.active {
  transition: all 0.4s ease;
  display: block; }

.navbar-collapse {
  justify-content: flex-end; }

.navbar-light .navbar-nav .nav-link {
  text-transform: uppercase;
  font-size: 14px;
  color: black; }

ul.navbar-nav {
  margin-right: 20px; }

.main-logo {
  height: 72px; }

li.nav-item {
  margin: 0 8px; }

/* ======== HERO ======== */
section.hero {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

#video-background {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100; }

section.hero div.hero-title {
  margin-top: 100px; }
  section.hero div.hero-title h1 {
    font-size: 48px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    max-width: 460px; }
  section.hero div.hero-title p {
    font-family: "Georgia";
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px; }

/* ======== Title section ======== */
section.statement-title {
  height: 100%;
  width: 100vw;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 160px 40px;
  flex-direction: column; }
  section.statement-title span.dash-top {
    font-size: 32px;
    margin-bottom: 70px; }
  section.statement-title span.dash-bottom {
    font-size: 32px;
    margin-top: 70px; }
  section.statement-title h2 {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    max-width: 500px; }

/* ======== Content section ======== */
section.content-block {
  position: relative; }
  section.content-block div.container-fluid {
    padding: 0 40px; }
  section.content-block img {
    margin: 60px 0; }
  section.content-block span.dash-top {
    font-size: 32px; }
  section.content-block span.dash-bottom {
    font-size: 32px; }

section.content-block div.row {
  align-items: center;
  text-align: center; }

div.background-color {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  background-color: #dbecf2;
  height: 100%; }

div.col-md p {
  margin: 30px 0; }

div.col-md div {
  max-width: 370px;
  margin: auto; }

section.content-block--alt {
  margin-top: 120px;
  position: relative; }
  section.content-block--alt div.container-fluid {
    padding: 0 40px; }
  section.content-block--alt img {
    margin: 60px 0; }
  section.content-block--alt span.dash-top {
    font-size: 32px; }
  section.content-block--alt span.dash-bottom {
    font-size: 32px; }

section.content-block--alt div.row {
  align-items: center;
  text-align: center;
  color: #fff; }

div.background-color--alt {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  background-color: black;
  height: 100%; }

div.col-md p {
  margin: 30px 0; }

div.col-md div {
  max-width: 370px;
  margin: auto; }

/* ======== FEATURES ======== */
section.features {
  padding: 120px 20px; }
  section.features div.row div.flex {
    display: flex;
    align-items: center;
    padding: 20px 16px; }
    section.features div.row div.flex img {
      margin-right: 16px; }

/* ======== CREATE ANY LAYOUT ======== */
section.create-layout {
  position: relative; }
  section.create-layout h2 {
    position: absolute;
    bottom: 40px;
    right: 40px; }

section.additional img {
  margin-bottom: 30px; }

section.additional h3, section.additional p {
  margin-bottom: 26px; }

footer {
  height: 170px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 0px 40px; }
  footer img.up {
    width: 30px;
    cursor: pointer; }
